.message-list {
  border: 1px solid red;
  width: 100%;
  min-height: 80px;
  background-color: 'thistle';
}

.message-item {
  display: flex;
  flex-direction: row;
}

.message-item .message-role {
  padding: 2px;
}

.message-item .message-content {
  padding: 2px;
}
